.poll-bubble {
  width: 70%;
  text-align: start;
}

.poll-bubble {
  color: black;
  padding: $chat-standard-padding-s !important;
  font-family: "Inter", sans-serif;
  font-size: 16 * $chat-text-size;
  line-height: 16 * $chat-text-size;
}

.from-admin .poll-bubble {
  color: rgba(white, 0.9);
}

.poll-icon {
  path {
    fill: currentColor;
  }
}

.poll-check-icon {
  width: 14.18px;
  height: 12px;
}

.poll-question {
  font-weight: 700;
  margin-top: $chat-standard-padding-xs;
  margin-bottom: $chat-standard-padding-s;
}

.poll-answer {
  border: 1px solid currentColor;
  border-radius: 4px;
  padding: 15px 14px;
  margin: 0px;
  height: 48px;
  &.winner {
    font-weight: 700;
  }
  &.selected {
    border: 1px solid $poll-hilite-color;
    background-color: $poll-hilite-color-bg;
    color: #1d1d1d;
    font-weight: 700;
  }
  &.result {
    border: none;
    padding: 15px 0px;
  }
  .poll-answer-title {
  }
  .poll-answer-num-votes {
    font-size: 0.75rem;
  }
  justify-content: space-between;
  position: relative;
}

.poll-percent-indicator {
  position: absolute;
  bottom: 2px;
  left: 0px;
  right: 0px;
  height: 8px;
  margin-top: 4px;
  .bar {
    background-color: #7e7cf8;
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
  }
}

.poll-status {
  justify-content: space-between;
  align-items: flex-start;
  font-size: 13px;
  line-height: 117%;
  margin: 17px 0px 0px 0px;
  .poll-status-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    color: #1d1d1d;
    opacity: 0.8;
    .from-admin & {
      color: white;
    }
  }

  .poll-status-close {
    background: transparent;
    border: 1px solid #000000;
    border-radius: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 133%;
    letter-spacing: 0.34px;
    text-transform: uppercase;
    color: #181719;
    padding: 7px 14px;
    text-align: center;
  }

  .poll-status-closed {
    background: white;
    border-radius: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 133%;
    letter-spacing: 0.34px;
    text-transform: uppercase;
    color: #181719;
    padding: 7px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      width: 9px;
      height: 8px;
      margin-right: 3px;
    }
  }
}

.poll-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #6360f0, #6360f0), #536dfe;
  border-radius: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 11.5411px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.34px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px 18px;
  color: white;
  text-transform: uppercase;
  height: 42px;
}

.poll-disclose {
  height: 18px;
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  display: flex;
  align-items: center;
  letter-spacing: 0.4px;
  color: #1d1d1d;
  opacity: 0.8;
  .poll-disclose-track {
    position: relative;
    width: 30px;
    height: 18px;
    background: #ededed;
    border-radius: 16px;
    transform: rotate(180deg);
    margin-left: 8px;
    transition: background-color 0.3s linear;
    .poll-disclose-knob {
      position: absolute;
      background: #ffffff;
      box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.12);
      border-radius: 16px;
      transform: rotate(180deg);
      width: 16px;
      right: 1px;
      top: 1px;
      bottom: 1px;
      transition: right 0.3s linear;
    }
  }

  &.selected .poll-disclose-track {
    background: #1d1d1d;
    .poll-disclose-knob {
      right: 13px;
    }
  }
}

// Creation dialog
//
.poll-create {
  overflow-x: hidden;
  overflow-y: auto;
  .poll-create-dialog-content {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 117%;
    letter-spacing: 0.4px;
    color: rgba(0, 0, 0, 0.7);

    .add-answer-button {
      border-radius: 4px;
      height: 48px;
      width: 100%;
      overflow: hidden;
      border: 1px solid #242424;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
      transition: opacity 1s linear, height 0.3s linear;
      &.hidden {
        opacity: 0;
        height: 0;
        transition: opacity 0s linear, height 0s linear;
      }
      img {
        width: 14.88px;
        height: 14.88px;
        object-fit: contain;
      }
    }
  }
  .filled-button.publish-button {
    background: linear-gradient(0deg, #6360f0, #6360f0), #536dfe !important;
    padding-left: 30px;
    padding-right: 30px;
    height: 42px !important;
    border-radius: 32px;
  }
  .tip {
    font-family: "Inter";
    font-style: normal;
    font-size: 13px;
    line-height: 117%;
    letter-spacing: 0.4px;
    color: #1d1d1d;
    opacity: 0.8;
    text-align: left;
    b {
      margin-right: 4px;
    }
  }
  .poll-create-status {
    font-size: 0.7rem;
  }
}
