$font-family: "Poppins";
$background: #ffffff;
$app-background: #f6f6f6;
$main-desktop-width: 900px;
$dialog-desktop-width: 940px;
$very-very-purple: #536dfe;

$chat-background: $background;
$chat-standard-padding: 32px;
$chat-standard-padding-s: 16px;
$chat-standard-padding-xs: 8px;
$chat-text-size: 1px;
$chat-button-height: 50px;

$voice-recorder-color: #6f6f6f;
$voice-recording-color: red;
$voice-recorded-color: #3ae17d;
$poll-hilite-color: #6360f0;
$poll-hilite-color-bg: #d6d5fc;